/* .App {
  text-align: center;
} */

.nav{
  color: aliceblue;
  padding: 2%;
  background-color: grey;
}

.link{
  padding-left: 10px;
}


.banner{
  color: aliceblue;
  display: flex;
  justify-content: center;
}


#googlePlaces{
  width: 100%;
  height: 30px;;
}
.BackGroundImageMap{
  justify-content: center;
  height: 1000px;
  background-position:center;
  background-size:100%;
} 
.planner{
  /* display: flex; */
  /* width: 200px; */
justify-content: center;
align-content: center;
padding-top: 6%;
}

.location-search-input{
  align-content: center;
  width: 60%;
  height: 1rem;
  border-radius: 2px;

}
.TripName{
  display: flex;
  align-content: center;
}